PRODUCT_BUNDLE_IDENTIFIER = com.cloudreve.mac
PRODUCT_NAME = Cloudreve
SWIFT_VERSION = 6.0
MACOSX_DEPLOYMENT_TARGET = 13.0
CODE_SIGN_IDENTITY = -
CODE_SIGNING_REQUIRED = NO
CODE_SIGNING_ALLOWED = NO
DEVELOPMENT_TEAM =
APP_GROUP_IDENTIFIER = group.com.cloudreve.mac
KEYCHAIN_ACCESS_GROUP = $(AppIdentifierPrefix)com.cloudreve.mac

