PRODUCT_BUNDLE_IDENTIFIER = ai.tiy.nimbussync
PRODUCT_NAME = NimbusSync
SWIFT_VERSION = 6.0
MACOSX_DEPLOYMENT_TARGET = 13.0
CODE_SIGN_IDENTITY = Developer ID Application
CODE_SIGNING_REQUIRED = YES
CODE_SIGNING_ALLOWED = YES
APP_GROUP_IDENTIFIER = group.ai.tiy.nimbussync
KEYCHAIN_ACCESS_GROUP = $(AppIdentifierPrefix)ai.tiy.nimbussync
