PRODUCT_BUNDLE_IDENTIFIER = com.cloudreve.mac
PRODUCT_NAME = Cloudreve
SWIFT_VERSION = 6.0
MACOSX_DEPLOYMENT_TARGET = 13.0
CODE_SIGN_IDENTITY = Developer ID Application
CODE_SIGNING_REQUIRED = YES
CODE_SIGNING_ALLOWED = YES
APP_GROUP_IDENTIFIER = group.com.cloudreve.mac
KEYCHAIN_ACCESS_GROUP = $(AppIdentifierPrefix)com.cloudreve.mac

